

#Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 30px;
}


#Top{
    margin: 20px;
    font-size: 30pt;
    text-align: center;
    border: burlywood solid 8px;
}
h1{
    font-size: 30pt;
}
h2{
    width: fit-content;
    background-color: skyblue;
    font-size: 30pt;
    margin: 0 auto;
}

#Info{
    text-align: center;

    display: grid;
    grid-template-columns: 33% 33% 34%;
}

#middle{
    border-right: solid black 5px;
    border-left: solid black 5px;
}

#Education{
    font-weight: bold;
    margin-top: 15px;
}

ul{
    padding-top: 5px;
    margin-top: 0;
}

li{
    width: fit-content;
    margin: 0 auto;
}

#Experience{
    margin-top: 20px;
    text-align: center;
}

h3{
    width: 80vw;
    border-bottom: skyblue solid 5px;
    font-size: 30pt;
    margin: 0 auto;
}

#container
{
    margin: 0 auto;
    width: 80vw;
    display:  grid;
    grid-template-columns: 25% 75%;
}

.Time{
    text-align: left;
}

.Place{
    text-align: right;
}